target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
*.project
*.settings
.apt_generated
.metadata
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


*.class
*.jar
*.war
*.swp
logs
.DS_Store
