<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
	<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
	<script>
        function showMsg() {
            alert("Hello.");
        }

	</script>
</head>
<body>
	Message: <span th:text="${message}"></span>
    <a href="javascript:void(0)" onclick="showMsg()">SHOW MESSAGE.</a>
    <br>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="LOGOUT" />
    </form>
</body>
</html>